body {
  margin: 0;
  background: #020617 !important;
}
.bg1 {
  background: #020617 !important;
}

.bg2 {
  background: #212529 !important;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.inputs {
  border-color: rgba(107, 106, 106, 0.358);
  &:focus {
    border-color: rgba(190, 185, 185, 0.518) !important;
    box-shadow: none;
  }
}

.buttons {
  &:hover {
    background-color: #0d6efd;
    color: white;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 13px;
    overflow: hidden;
  }
  .w-s-75 {
    width: 75% !important;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 13px;
  }
  .w-xs-100 {
    width: 100% !important;
  }
}
